---
layout: barefooter
permalink: /
title: Ninnat's notes
subtitle: 
description:
---

<div class="row">
 <!-- <span> -->
 <div style="width:70%; margin:0 auto;">
  <div class="row">
      {% for post in site.posts limit:4 %}
      {% include postsummary.html %}
      {% endfor %}
  </div>
  <div class="row">
    <div style="font-weight:bold; text-align:center;font-size:1.2em;">
     <i class="glyphicon glyphicon-chevron-left"></i> <a href="/archives.html">Archives by date, </a>
     <i class="glyphicon glyphicon-list"></i> <a href="/categories.html">by category, </a>
     <i class="glyphicon glyphicon-tag"></i> <a href="/tags.html">by tag</a>
    </div>
  </div>
     <br>
  <div class="row">
    <div class="col-md-12 col-sm-12">
        <br>
        <br>
       <div class="row" style="margin-left:-5px">
           <a href="mailto:{{site.author.email}}" onClick="recordOutboundLink(this, 'Outbound Links', 'email'); return false;"><img src="/assets/img/icon-email.png" height="48px" alt="email"> </a>
           <a href="https://www.facebook.com/{{site.author.facebook}}"><img src="/assets/img/icon-facebook.png" height="42px" alt="facebook"></a>
           <a href="/atom.xml" onClick="recordOutboundLink(this, 'Outbound Links', 'RSS'); return false;"><img src="/assets/img/icon-rss.png" height="40px" alt="feed"></a>
           <!--<a href="http://physics.stackexchange.com/users/{{site.author.stackexchangephy}}"><img src="/assets/img/icon-stackoverflow.png" height="40px" alt="Physics Stackexchange"></a>-->
           <iframe class="github-btn" src="//ghbtns.com/github-btn.html?user={{site.orgname}}&repo={{site.repo}}&type=star&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="90px" height="40px" style="vertical-align:middle; margin-top:17px;"></iframe>
      </div>
     <!-- <br><br><br> -->
    </div>
    <!-- Add the extra clearfix for only the required viewport -->
    <div class="clearfix visible-sm-block visible-md-block"></div>
  </div>
 </div>
 <!-- </span> -->


</div>
<!-- Add the extra clearfix for only the required viewport -->
<div class="clearfix visible-md-block"></div>
<hr>
<div class="row" style="margin:-10px 0 10px; align:center; vertical-align:middle; clear:both;">
  <!-- <div class="span12" align="center" vertical-align="middle"> -->
  <a rel="license" href="https://creativecommons.org/licenses/by/4.0/">
        <span align="center" margin-top="-10px">Copyright &copy; {{ site.time | date: "%Y" }} {{ site.author.name }} under the Creative Commons Attribution License or otherwise specified. </span></a>
  <!-- </div> -->
  <br>
</div>
