    <!-- Le javascript
    ================================================== -->

    <!-- Placed at the end of the document so the pages load faster -->
    <!-- JQuery, used on a few pages -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js" ></script>
    <script src="//cdn.jsdelivr.net/jquery.mixitup/latest/jquery.mixitup.min.js"></script>
    <script src="/assets/js/mixitup-mine.js"></script>
    <!-- Equations using MathJax -->
    <script type="text/javascript" src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    <script type="text/x-mathjax-config"> MathJax.Hub.Config({ TeX: { equationNumbers: {autoNumber: "all"} } });       </script>
    <script type="text/x-mathjax-config"> MathJax.Hub.Config({ tex2jax: { inlineMath: [['$', '$'],['\\(','\\)'] ] } }); </script>
    <!-- Twitter Bootstrap Javascript -->
    <script src="/assets/js/bootstrap-collapse.js"></script> <!-- for collapsing navbar-->
    <!-- Unused Twitter Bootstrap Javascript
    <script src="{{ site.url }}/assets/js/bootstrap-dropdown.js"></script>
    <script src="{{ site.url }}/assets/js/google-code-prettify/prettify.js"></script>
    <script src="{{ site.url }}/assets/js/bootstrap-transition.js"></script>
    <script src="{{ site.url }}/assets/js/bootstrap-alert.js"></script>
    <script src="{{ site.url }}/assets/js/bootstrap-modal.js"></script>
    <script src="{{ site.url }}/assets/js/bootstrap-scrollspy.js"></script>
    <script src="{{ site.url }}/assets/js/bootstrap-tab.js"></script>
    <script src="{{ site.url }}/assets/js/bootstrap-tooltip.js"></script>
    <script src="{{ site.url }}/assets/js/bootstrap-popover.js"></script>
    <script src="{{ site.url }}/assets/js/bootstrap-button.js"></script>
    <script src="{{ site.url }}/assets/js/bootstrap-carousel.js"></script>
    <script src="{{ site.url }}/assets/js/bootstrap-typeahead.js"></script>
    <script src="{{ site.url }}/assets/js/application.js"></script>
    -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src = "https://code.jquery.com/jquery.js"></script>
	
	<script type="text/javascript"> 
		$(document).ready(function() {
			Footnotes.setup();
		});

		var Footnotes = {
			footnotetimeout: false,
			setup: function() {
				var footnotelinks = $("a[rel='footnote']")
				
				footnotelinks.unbind('mouseover',Footnotes.footnoteover);
				footnotelinks.unbind('mouseout',Footnotes.footnoteoout);
				
				footnotelinks.bind('mouseover',Footnotes.footnoteover);
				footnotelinks.bind('mouseout',Footnotes.footnoteoout);
			},
			footnoteover: function() {
				clearTimeout(Footnotes.footnotetimeout);
				$('#footnotediv').stop();
				$('#footnotediv').remove();
				
				var id = $(this).attr('href').substr(1);
				var position = $(this).offset();
			
				var div = $(document.createElement('div'));
				div.attr('id','footnotediv');
				div.bind('mouseover',Footnotes.divover);
				div.bind('mouseout',Footnotes.footnoteoout);

				var el = document.getElementById(id);
				div.html($(el).html());
				div.find("a[rev='footnote']").remove();
				
				div.css({
					position:'absolute',
					width:'20em',
					background:'#F7F6EE',
					padding:'0em 1em 0em 1em',
					border:'solid 1px',
					'font-size':'90%',
					'font-family': 'Helvetica, Sans-serif',
					'line-height':1.4,
					'-moz-border-radius':'.5em',
					'-webkit-border-radius':'.5em',
					'border-radius':'.5em',
					opacity:0.95
				});
				$(document.body).append(div);
				

				var left = position.left;
				if(left + 420  > $(window).width() + $(window).scrollLeft())
					left = $(window).width() - 420 + $(window).scrollLeft();
				var top = position.top+20;
				if(top + div.height() > $(window).height() + $(window).scrollTop())
					top = position.top - div.height() - 15;
				div.css({
					left:left,
					top:top
				});
			},
			footnoteoout: function() {
				Footnotes.footnotetimeout = setTimeout(function() {
					$('#footnotediv').animate({
						opacity: 0
					}, 600, function() {
						$('#footnotediv').remove();
					});
				},100);
			},
			divover: function() {
				clearTimeout(Footnotes.footnotetimeout);
				$('#footnotediv').stop();
				$('#footnotediv').css({
						opacity: 0.9
				});
			}
		}
	</script>  
      
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src = "/assets/js/bootstrap.min.js"></script>