{% if site.footer_scripts %}
  {% for script in site.footer_scripts %}
    <script src="{{ script | relative_url }}"></script>
  {% endfor %}
{% else %}
  <script src="{{ '/assets/js/main.min.js' | relative_url }}"></script>
{% endif %}

{% if site.search == true or page.layout == "search" %}
  {%- assign search_provider = site.search_provider | default: "lunr" -%}
  {%- case search_provider -%}
    {%- when "lunr" -%}
      {% include_cached search/lunr-search-scripts.html %}
    {%- when "google" -%}
      {% include_cached search/google-search-scripts.html %}
    {%- when "algolia" -%}
      {% include_cached search/algolia-search-scripts.html %}
  {%- endcase -%}
{% endif %}

{% include analytics.html %}
{% include /comments-providers/scripts.html %}

{% if site.after_footer_scripts %}
  {% for script in site.after_footer_scripts %}
    <script src="{{ script | relative_url }}"></script>
  {% endfor %}
{% endif %}

<script type="text/javascript" async
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/latest.js?config=TeX-MML-AM_CHTML">
</script>

</script>

<!-- for numbered equations-->
<script type="text/x-mathjax-config"> MathJax.Hub.Config({ TeX: { equationNumbers: {autoNumber: "all"} } });       </script>
<script type="text/x-mathjax-config"> MathJax.Hub.Config({ tex2jax: { inlineMath: [['$', '$'],['\\(','\\)'] ], processEscapes: true } }); </script>
<!-- Customize this part for LaTeX macros.-->
<script type="text/x-mathjax-config">
MathJax.Hub.Config({
  tex2jax: {inlineMath: [["$","$"],["\\(","\\)"]]},
  TeX: {
    Macros: {
      cc: ["{\\mathrm{#1}}",1],
      shap: ["{\\#\\mathrm{P}}"],
      pder: ["{\\frac{\\partial #1}{\\partial #2}}",2],
      ket: ["{\\left| {#1} \\right\\rangle}",1],
      bra: ["{\\left\\langle {#1} \\right|}",1],
      av: ["{\\left\\langle{#1}\\right\\rangle}",1],
      ketbra: ["{\\left|{#1}\\vphantom{#2}\\right\\rangle\\!\\left\\langle{#2}\\vphantom{#1}\\right|}",2],
      cong: "{\\,\\unicode{x2245}\\,}",
      tr: "{\\mathrm{tr}}",
      id: "{\\,\\unicode{x1D7D9}\\,}",
      Id: "{\\mathbf{I}}",
      coloneqq: "{\\,\\unicode{x2254}\\,}",
      eqqcolon: "{\\,\\unicode{x2255}\\,}",
      surject: "{\\,\\unicode{x21A0}\\,}",
      inject: "{\\,\\unicode{x21AA}\\,}",
      R: "{\\mathbb{R}}",
      C: "{\\mathbb{C}}",
      Z: "{\\mathbb{Z}}",
      x: "{\\mathbb{x}}",
      SU: "{\\mathrm{SU}}",
      SO: "{\\mathrm{SO}}",
      Sp: "{\\mathrm{Sp}}",
      hilb: "{\\mathcal{H}}",
      End: "{\\mathrm{End}}",
      Hom: "{\\mathrm{Hom}}",
      Sym: "{\\mathrm{Sym}}",
      dgg: "{^{\\dagger}}",
      ind: ["{\\mathrm{Ind}_{#2}^{#3} {#1}}",3],
      cind: ["{\\mathrm{Coind}_{#2}^{#3} {#1}}",3],
      U: "{\\mathrm{U}}",
      g: "{\\mathfrak{g}}",
      GL: "{\\mathrm{GL}}",
    }
  <!-- extensions: ["autoload-all.js"]-->
  }
});

</script>
